{% extends 'allinclude.html' %} {% block title %} Online Booking - RoseGold
Hotel {% endblock %} {% block content %}
<section id="slider_booking">
  <div class="slider_book_Pic booking-bg">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-10">
          <div class="slider_booking_text">
            <h4>HOTEL SERVICE</h4>
            <a href="{% url 'home' %}">Home</a>
            <i class="fas fa-slash"></i>
            <span>Online Booking</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Booking_part">
  <div class="container">
    <div class="row">
      <!-- Booking details sidebar -->
      <div class="col-lg-4">
        <!-- Booking details card -->
      </div>

      <!-- Booking form -->
      <div class="col-lg-8">
        <div class="BOOKING_from">
          <div class="BOOKING_from_title">
            <h3>PERSONAL INFORMATION</h3>
            <span>Booking form</span>
          </div>
          <div class="BOOKING_from_info">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %} {{ form.as_p }}
              <div class="onlineBooking_btn">
                <button type="submit">BOOKING Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
